<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>developmentUrl</key>
	<string>exp11e53dabd68a463fa0ec33877690a207://wd-n4w.igor-simovic.expo.exp.direct:80</string>
	<key>isManifestVerificationBypassed</key>
	<true/>
	<key>isShell</key>
	<true/>
	<key>manifestUrl</key>
	<string>exp://exp.host/@ryszardrzepa/coffee-cloud</string>
</dict>
</plist>
